$red: #ff0037;
$gray: #bbbbbb;
$green: #1ecd97;
.Completed {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: $green;
  border: 2px solid $green;
  color: white;
  letter-spacing: 1px;
  text-shadow: 0;
  font {
    size: 12px;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color: $green;
    background: white;
  }
  &:active {
    letter-spacing: 2px;
  }
  &:after {
    content: 'Complete';
  }
}

.onclic {
  width: 40px;
  border-color: $green;
  border-width: 3px;
  font-size: 0;
  border-left-color: white;
  animation: rotating 2s 0.25s linear infinite;

  &:after {
    content: '';
  }
  &:hover {
    color: $green;
    background: white;
  }
}
